
:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

body {
    --width: min(100vw, 800px);
    --height: min(100vh, 420px);

    margin: 0;
    display: flex;
    place-items: center;
    width: 100vw;
    height: 100vh;
}

@media (min-width: 1400px) {
    body {
        --width: 80vw;
        --height: 80vh;
    }
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

#app {
    width: var(--width);
    height: var(--height);
    margin: auto;
    overflow: hidden;
    text-align: center;
    border: 2px solid #ddd;
    position: relative;
}

button {
    border-radius: 8px;
    border: 2px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    border-color: #ff90ff;
    background-color: #fff1ff;
}

button:disabled {
    opacity: 0.3;
    pointer-events: none;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    a:hover {
        color: #747bff;
    }

    button {
        background-color: #f9f9f9;
    }
}

#menu {
    width: 100%;
    box-shadow: 1px 2px 3px #0083;
    background: #eef;
    z-index: 1;
}

.spinning {
    animation: spin 2s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.synthglow {
    animation: synthglowing 5s infinite;
}

@keyframes synthglowing {
    0% {
        background-color: hsla(210, 100%, 50%, 10%);
    }
    50% {
        background-color: hsla(300, 100%, 50%, 10%);
    }
    100% {
        background-color: hsla(210, 100%, 50%, 10%);
    }
}

.ratings-table td:not(:last-of-type) {
    padding: 1rem;
}

.ratings-table td:last-of-type {
    padding-right: 0.25rem;
}
